html, body{
    width: 100%;
    height: 100%;
    margin: 0;
  padding: 0;
   font-family: 'Roboto', sans-serif;
}

header{
   
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px
}
  @media(max-width: 760px){
      header{
          background: red;
          height: 1.22px;
      }
    nav ul li{
        list-style: none;
        padding: 0 4px;
        font-size: 10px;
    }
      nav{
          flex-direction: column;
          align-items: center;
      }
      .right{
          flex-direction: column;
         
  }
  .rightBox{
    display: flex;
    margin: 12px;
  }
}
.rightBox{
    display: flex;
    margin: 12px;
  }

.left img{
    width: 32px;
    height: 23px;
}
.container{ 
    padding: 0 10vw; 
  }
  
  .containerHeader{ 
    padding: 0 10vw; 
  }

nav{
    font-size: 12px;
    padding-top: 14px;
  }
nav ul li {
    list-style: none;
    padding: 0 12px;
}

.search{
    width: 35vw ;
    padding: 4px 10px ;
    border: 0.5px solid grey;
    border-radius: 5px ;
    background: #f7f8fd;
}
.section1{
    background: #f2f2f2;
  
}
.homeImg{
    width: 80vw;
    margin: 12px 0;
}
.itemImg{
    width: 9.4vw;
    margin: 7px 12px;

}
footer{
    padding: 23px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 24%) 0px 3px 8px;
}